<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holywarrior.silence_of_salah_engine">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Added permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application>

        <!-- Foreground service exposed by the plugin library -->
        <service
            android:name=".foreground_service.SilenceOfSalahEngineForegroundService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="health" />

        <!-- Added receiver -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>