<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holywarrior.silence_of_salah_engine">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <!-- Foreground service exposed by the plugin library -->
        <service
            android:name=".foreground_service.SilenceOfSalahEngineForegroundService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="health" />

    </application>

</manifest>
